
<!-- Footer -->

<footer>
      <div class="footer-left">
          <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
          </p>
      </div>
      <div class="footer-right">
          <ul class="nav nav-pills">
              {{ menu() }}
          </ul>
      </div>
</footer>

<!-- End Footer -->




</div>
<!-- End Container -->
</body>
</html>
